nav {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  padding-top: 1em;
  justify-content: center;
}

.nav-item,
.last-nav-item {
  display: inline-block;
  justify-content: center;
}

.nav-item a::after {
  display: inline-block;
  color: #000;
  content: "|";
  font-size: 80%;
  font-weight: bold;
  padding: 0 6px;
}
.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
